<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chat Client With Parse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>345EAF181D4AD28300E3C925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345EAF2C1D4AD28400E3C925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345EAF371D4AD28400E3C925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
